@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Science+Gothic:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee Spice", sans-serif;
}
 body{
    background-color: black;
    padding: 30px;
 }
 .container 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    gap: 30px;
}
.category{
    border: 2px solid white;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    
}
.category:hover{
    box-shadow: 0 0 20px orange;
    cursor: pointer;
    transform: scale(0.97);
}

.title{
    margin-top: 30px;
}

.videocontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 30px 0px;
}