*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: blue;
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
width: 160px;   
border-radius: 10px;
}
#contaner{
        display: flex;
    justify-content: center;
    align-items: center;
     height: 900px;
     gap: 50px;
}
button{
        height: 40px;
width: 120px;   
}