*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(https://uzreport.news/fotobank/image/969b5a51cb9d4936bbccccb62a225c81.jpeg);
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input{
    background-color: rgb(0, 255, 38);
    border-color: gold  ;
}
button{
        background-color: rgb(17, 0, 255);
    border-color: rgb(255, 0, 0)  ;

}