* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-size: cover;

    height: 100vh;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.rasm{
    border: 2px solid red;
    width: 800px;
    height: 400px;
}

.rasm img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

